#mainContent{
    background-color: #EDADE8;

    padding:10%;
}

#flexContainer{
    display: flex;
}

.BuildingImages{
    width: 350px;
    height: 250px;
    border-radius: 5%;
    
}

.containers{
    margin: 2%;
    flex-direction: row;
    flex-wrap: wrap;
}
