#mainContent{
    background-color: #EDADE8;

    padding:10%;
}

#flexContainer{
    display: flex;
}

.BuildingImages{
    width: 350px;
    height: 250px;
    border-radius: 5%;
    
}

#mainContent{
    margin: 20px;

    display: inline;
    position: absolute; 
}
