body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Trebuchet, sans-serif;
}

#mainContent{
    width: 500px;
    height: 500px;
}

#map{
    width: 100vw;
    height: 100vh;
    display: inline;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #712177;
    text-align: center;
  }
  
  li {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #green{
    color: #9fbf00;
  }

  #orange{
    color: #ff8000;
  }

  #yellow{
    color: #ccba02;
  }

  #pink{
    color: #E31C79;
  }

  #blue{
    color: #0072ce;
  }