#mainContent{
    margin-top: 10vh;
}

#map{
    width: 150vh;
    height: 50vh;

    position: absolute;

    display: block;

    margin-top: 200px;
    margin-left: 50px;
}

#buttonContainer{
    position: absolute;

    width: 150vh;
    height: 50vh;

    float: left;

    margin-top:10vh;
    margin-left: 50px;

    display: block;
}   

.layerButton{
    margin: 10px;

    width: 10vh;
}

#floorIndicators{
    position: absolute;

    width: 150vh;
    height: 50vh;

    margin-top: 75px;
    margin-left: 300px;

    display: inline;
}

#floorIndicators, #buttonContainer{
    background-color: rgb(98, 0, 167);

    display: block;

    width: 50vh;
    height: 12vh;

    margin-top:105px;
}