/*code created by the authors of this stylesheet*/
body{
    margin: 0;
}

html, body {
    height: 100%;
    background-color: rgb(244, 212, 255);
}

.navbar {
  position: absolute;
  overflow: hidden;
  background-color: (purple);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
}

.navbar img{
    float: left;
    display: block;
    padding: 15px ;

    height: 10vh;
    width: 10vh;
}

.navbar a:hover {
  color: #c300ff;
}

footer{
    position: absolute;
    bottom:0;
    width:100%;
    height:60px;  
    background:#6cf;
    margin:0; padding:0;
}