/*code created by the authors of this stylesheet*/
body{
    margin: 0px;
}

.nav {
    height: 100px;
    width: 250px;

    display: block;

    margin:0px, 20px, 0px, 20px;

    background-color: cadetblue;
}